
# ============================
# Python system files
# ============================
__pycache__/
*.pyc
*.pyo


# ============================
# Large spatial / raster data
# ============================
*.tif
*.tiff
*.nc
*.hdf

# ============================
# OS clutter
# ============================
.DS_Store
Thumbs.db
